@import 'normalize.min.css';
@import '~@angular/material/theming';
@include mat-core();

$schuleWebApp-primary: mat-palette($mat-blue);
$schuleWebApp-accent: mat-palette($mat-pink, A200, A100, A400);

$schuleWebApp-warn: mat-palette($mat-red);

$schuleWebApp-theme: mat-light-theme(
  $schuleWebApp-primary,
  $schuleWebApp-accent,
  $schuleWebApp-warn
);

@include angular-material-theme($schuleWebApp-theme);

/**************************************************************/

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Open Sans', 'Raleway', sans-serif;
  color: rgba(0, 0, 0, 0.87);
}

h1,
h2,
h3 {
  font-family: 'Raleway', 'Open Sans', sans-serif;
  font-weight: 400;
}

.flex-grow {
  flex: 1;
}
